 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: snow;
}
.top-container{
    background: url(images/Gym.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 300px;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    padding: 1.2em;
    position: relative;
}

.backdrop {
    background-color: #00000060;
    position: absolute;
    width:100%;
    height: 100%;
    top:0;
    left:0;
    z-index: 0;
}

.top-container h2{
    color: lightgreen;
    font-size: 2.2rem;
    z-index: 1;
}

.nav-bar{
    background-color: white;
    display: none;
    position: absolute;
    top: 2px;
    right: 5px;
} 

.nav-bar ul{
    list-style-type: none;
    border-left: 3px solid gold;
    border-bottom: 3px solid green;
    border-radius: 15px;
}

.nav-bar ul li{
    padding: 15px;
    border-bottom: 1px solid lightsalmon;
    border-bottom-width: 2px;
    transition: .3s ease-in-out;
}
.nav-bar ul li:last-child{
    border-bottom: none;
}

.nav-bar ul li:hover{
    background-color: burlywood;
}

.nav-bar ul li a{
    color: black;
    font-size: 1rem;
    text-decoration: none;
}

.nav-bar a{
    color: black;
    font-size: 1rem;
    text-decoration: none;
    transition: .3s ease-in-out;
}

.nav-bar a:hover{
    color: yellow;
    background-color: burlywood;
}

.nav-icon{
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 15px;
}

.icon-line{
    display: block;
    width: 20px;
    height: 3px;
    margin: 5px auto;
    background-color: lightgreen;
}

.top-container aside{
    background-color: transparent;
    position: absolute;
    left: 20px;
    bottom: 5px;
    width: 300px;
    padding: 10px;
    border: 3px solid lightgreen;
    border-style: dashed;
    color: lightgreen;
    border-radius: 10px;
    font-family: "Special Elite", sans-serif;
    transform: skewX(-10deg);
}

.top-container aside a{
    color: lightgreen;
}


.container2{
    text-align: center;
    padding: 10px;
    font-size: 1.3rem;
}

.container2 p{
    margin-top: 10px;
}

.container3{
    padding: 10px;
}

.container3 section div{
    margin-top: 5px;
    padding: 5px;
    font-size: 1.3rem;
}

.container3 section div h2{
    margin-bottom: 10px;
    border-bottom: 2px solid orange;
    border-bottom-left-radius: 10px;
    font-family: "Roboto Slab", sans-serif;
    font-size: 2rem;
    text-transform: uppercase;
    color: gray;
}

.container3 section div img{
    width: 100%;
    display: block;
}

.container3 section div ul{
    margin-left: 1.5rem;
}

.boldItalic{
    font-style: italic;
    font-weight: bold;
    font-size: 1.4rem;
    color: red;
}

.bg-lightgrey{
    background-color: lightgrey;
}

#BMI-button{
    padding: 7px;
    font-style: oblique;
    font-size: 1.1rem;
    background: linear-gradient(to right, lightgreen, yellow);
    border: 2px solid red;
    border-radius: 10px;
}

.bottom-container{
    background-color: lightgreen;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    padding-top: 0%;
    position: relative;
}

.bottom-container div{
    margin-bottom: .75rem;
    font-size: 1.1rem;
}

.bottom-container div h3{
    margin-bottom: 5px;
}

.bottom-container div a{
    color: black;
}

.bottom-container .top-link{
    width: 100px;
    background-color: darkgreen;
    margin: 0 auto;
    text-align: center;
    padding: 5px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.bottom-container .top-link a{
    color: lightgreen;
}

.bottom-container hr{
    width: 100%;
    margin-bottom: 5px;
}

.bottom-container .fa-brands{
    margin-right: 45px;
    font-size: 2rem
}

.bottom-container .fa-youtube{
    color: red;
}

.bottom-container .fa-facebook{
    color: blue;
}

.bottom-container .fa-twitter{
    color: skyblue;
}

@media all and (min-width: 800px){
    .top-container{
        height: 400px;
    }

    .top-container h2{
        display: inline;
    }

    .nav-bar{
        background-color: transparent;
        position: relative;
        top: 0; 
        right: 0;
        display: flex;
        height: 30px;
     } 
    
    .nav-bar ul{
        list-style-type: none;
        border-left: none;
        border-bottom: 2px solid white;
        border-radius: none;
        display: flex;
        position: absolute;
        top: 20px;
        right: 0px;
    }
    
    .nav-bar ul li{
        border-bottom: none;
        border-bottom-width: 0px;
        transition: none;
        padding-top: 20px;
        padding-right: 20px;
    }

    .nav-bar ul li:last-child{
        padding-right: 0px;
    }
    
    .nav-bar ul li:hover{
        background-color: transparent;
        transform: scale(1.5,1.5);
    }
    
    .nav-bar ul li a{
        color: lightgreen;
        font-size: 1.2rem;
        text-decoration: none;
    }
    
    .nav-bar a{
        color: lightgreen;
        font-size: 1.2rem;
        text-decoration: none;
        transition: none;
    }

    .color-lightgreen{
        color: lightgreen;
        height: 10px;
    }
    
    .nav-bar a:hover{
        color: yellow;
        background-color: transparent;
    }

    .nav-icon{
        display: none;
        cursor: none;
        position: relative;
        top: 0px;
        right: 0px;
        padding: 0px;
    }
    
    .icon-line{
        display: none;
        width: 0px;
        height: 0px;
        margin: 0px;
        background-color: transparent;
    }

    .top-container aside{
        background-color: snow;
        border: 3px solid black;
        border-style: dashed;
        color: brown;
    }
    
    .top-container aside a{
        color: brown;
    }

    .container3{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .container3 section{
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
        width: 80%;
    }
    
    .container3 section div{
        width: 50%;
        margin: 20px;
    }

    .bottom-container .top-link{
        position: absolute;
        top: 0;
        left: 0;
        border-bottom-left-radius: 0px;
    }

    .bottom-container .explore-contact{
        margin: 0 auto;
        display: flex;
    }

    .bottom-container .explore-contact div{
        margin: 20px;
    }
}

@media all and (min-width: 1600px){
    .top-container{
        height: 500px;
    }
}
