 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --LIGHTGREEN-COLOR: lightgreen;
    --DARKGREEN-COLOR: darkgreen;
    --YELLOW-COLOR: yellow;
}

body{
    background-color: snow;
}
.top-container{
    background: url(images/Gym.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 300px;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    padding: 1.2em;
    position: relative;
}

.backdrop {
    background-color: #00000060;
    position: absolute;
    width:100%;
    height: 100%;
    top:0;
    left:0;
    z-index: 0;
}

.top-container h2{
    color: lightgreen;
    font-size: 2.2rem;
    z-index: 1;
}

.nav-bar{
    background-color: white;
    display: none;
    position: absolute;
    top: 2px;
    right: 5px;
} 

.nav-bar ul{
    list-style-type: none;
    border-left: 3px solid gold;
    border-bottom: 3px solid green;
    border-radius: 15px;
}

.nav-bar ul li{
    padding: 15px;
    border-bottom: 1px solid lightsalmon;
    border-bottom-width: 2px;
    transition: .3s ease-in-out;
}
.nav-bar ul li:last-child{
    border-bottom: none;
}

.nav-bar ul li:hover{
    background-color: burlywood;
}

.nav-bar ul li a{
    color: black;
    font-size: 1rem;
    text-decoration: none;
}

.nav-bar a{
    color: black;
    font-size: 1rem;
    text-decoration: none;
    transition: .3s ease-in-out;
}

.nav-bar a:hover{
    color: var(--YELLOW-COLOR);
    background-color: burlywood;
}

.nav-icon{
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 15px;
}

.icon-line{
    display: block;
    width: 20px;
    height: 3px;
    margin: 5px auto;
    background-color: var(--LIGHTGREEN-COLOR);
}

.top-container aside{
    background-color: transparent;
    position: absolute;
    left: 20px;
    bottom: 5px;
    width: 250px;
    padding: 10px;
    border: 3px solid var(--LIGHTGREEN-COLOR);
    border-style: dashed;
    color: var(--LIGHTGREEN-COLOR);
    border-radius: 10px;
    font-family: "Special Elite", sans-serif;
    transform: skewX(-10deg);
}

.top-container aside a{
    color: snow;
}


.container2{
    text-align: center;
    padding: 10px;
    font-size: 1.3rem;
}

.container2 p{
    margin-top: 10px;
}

.container3
.services-container5{
    padding: 10px;
}

.container3 section div, 
.services-container3 div, 
.services-container4 div,
.services-container5 section div{
    margin-top: 5px;
    padding: 15px;
    font-size: 1.3rem;
}

.container3 section div h2,
.services-container3 div h2,
.services-container5 section div h2{
    margin-bottom: 10px;
    border-bottom: 2px solid orange;
    border-bottom-left-radius: 10px;
    font-family: "Roboto Slab", sans-serif;
    font-size: 2rem;
    text-transform: uppercase;
    color: gray;
}

.container3 section div img,
.services-container5 section div img{
    width: 100%;
    display: block;
}

.container3 section div ul{
    margin-left: 1.5rem;
}

.boldItalic{
    font-style: italic;
    font-weight: bold;
    font-size: 1.4rem;
    color: red;
}

.bg-lightgrey{
    background-color: lightgrey;
}

#BMI-button, #proceed-button, .payment-button{
    padding: 7px;
    font-style: oblique;
    font-size: 1.1rem;
    background: linear-gradient(to right, var(--LIGHTGREEN-COLOR), var(--YELLOW-COLOR));
    border: 2px solid red;
    border-radius: 10px;
}

.bottom-container{
    background-color: var(--LIGHTGREEN-COLOR);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    padding-top: 0%;
    position: relative;
}

.bottom-container div{
    margin-bottom: .75rem;
    font-size: 1.1rem;
}

.bottom-container div h3{
    margin-bottom: 5px;
}

.bottom-container div a{
    color: black;
}

.bottom-container .top-link{
    width: 100px;
    background-color: var(--DARKGREEN-COLOR);
    margin: 0 auto;
    text-align: center;
    padding: 5px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.bottom-container .top-link a{
    color: var(--LIGHTGREEN-COLOR);
}

.bottom-container hr{
    width: 100%;
    margin-bottom: 5px;
}

.bottom-container .fa-brands{
    margin-right: 45px;
    font-size: 2rem
}

.bottom-container .fa-youtube{
    color: red;
}

.bottom-container .fa-facebook{
    color: blue;
}

.bottom-container .fa-twitter{
    color: skyblue;
}

.history-reviewHeading{
    text-align: center;
    color: var(--DARKGREEN-COLOR);
}

.aboutUs-container2, .aboutUs-container3{
    display: flex;
    flex-direction: column;
    padding: 1.2em;
    font-size: 1.2rem;
}

.aboutUs-container2 *, .aboutUs-container3 *{
    margin-bottom: 1rem;
}

.aboutUs-container2 div, .aboutUs-container3 div{
    background-color: var(--DARKGREEN-COLOR);
    color: var(--LIGHTGREEN-COLOR);
    padding: 10px;
    border-radius: 20px;
    font-family: "Architects Daughter", sans-serif;
}

.aboutUs-container2 div a{
    color: var(--LIGHTGREEN-COLOR);
}

.history-reviewHeading, .aboutUs-container2 div h2, .aboutUs-container3 div h2{
    font-family: "Roboto Slab", sans-serif;
}

.moveTo-homePage {
    width: 100px;
    background-color: var(--DARKGREEN-COLOR);
    color: var(--LIGHTGREEN-COLOR);
    text-align: center;
    padding: 5px;
    border-top-right-radius: 10px;
}

.aboutUs-container2 .moveTo-servicesPageLink{
    color: var(--YELLOW-COLOR);
}

.moveTo-homePage:hover, .top-link .moveTo-topLink:hover{
    color: var(--YELLOW-COLOR);
}

.aboutUs-container2 div:hover, .aboutUs-container3 div:hover{
    animation: zoomIn 3s ease-in forwards;
}

@keyframes zoomIn{
    50%{
        transform: rotateY(360deg);
    }
    100%{
        transform: scale(1.1,1.1);
    }
}

.services-container2{
    display: flex;
    justify-content: center;
    margin: .75rem;
    font-weight: bolder;
    font-size: 1.5rem;
    font-family: "Roboto Slab", sans-serif;
    color: var(--DARKGREEN-COLOR);
}

.services-container2 p::after{
    content: "";
    display: block;
    width: 60%;
    height: 4px;
    background-color: var(--DARKGREEN-COLOR);
    color: var(--LIGHTGREEN-COLOR);
    font-weight: 600;
    font-size: 1.2rem;
    text-align: right;
    margin: 0 auto;
    margin-top: 10px;
}

.services-container3, .services-container4{
    display: flex;
    flex-direction: column;
    padding: 20px;
}
 
.services-container3 div form{
    margin-bottom: 10px;
}

.services-container3 div form select option{
    font-size: 1.4rem;
}

.bonus-offer *{
    margin-bottom: 15px;
}

.bonus-offer{
    border: 5px dashed blueviolet;
    animation: changingTextColor 2s ease-in infinite;
    transform: skewX(-5deg);
    margin-bottom: 10px;
}

.services-container4 div form label{
    font-size: 1.7rem;
}

@keyframes changingTextColor{
    33%{
        color: red;
    }

    66%{
        color: lightgreen;
    }

    100%{
        color: coral;
    }
}

.price{
    font-weight: bolder;
    font-style: oblique;
    font-size: 1.7rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: var(--DARKGREEN-COLOR);
}

#amount-footer{
    text-align: center;
    margin-bottom: 20px;
    color: var(--DARKGREEN-COLOR);
    font-weight: bolder;
    font-style: oblique;
    display: none;
}

#total-amount{
    color: darkblue;
}

.bill-service{
    display: none;
}

.bill-service-flex{
    display: block;
}

.payment-link{
    text-align: right;
    margin: 15px;
}

@media all and (min-width: 800px){
    .top-container{
        height: 400px;
    }

    .top-container h2{
        display: inline;
    }

    .nav-bar{
        background-color: transparent;
        position: relative;
        top: 0; 
        right: 0;
        display: flex;
        height: 30px;
     } 
    
    .nav-bar ul{
        list-style-type: none;
        border-left: none;
        border-bottom: 2px solid white;
        border-radius: none;
        display: flex;
        position: absolute;
        top: 20px;
        right: 0px;
    }
    
    .nav-bar ul li{
        border-bottom: none;
        border-bottom-width: 0px;
        transition: none;
        padding-top: 20px;
        padding-right: 20px;
    }

    .nav-bar ul li:last-child{
        padding-right: 0px;
    }
    
    .nav-bar ul li:hover{
        background-color: transparent;
        transform: scale(1.5,1.5);
    }
    
    .nav-bar ul li a{
        color: var(--LIGHTGREEN-COLOR);
        font-size: 1.2rem;
        text-decoration: none;
    }
    
    .nav-bar a{
        color: var(--LIGHTGREEN-COLOR);
        font-size: 1.2rem;
        text-decoration: none;
        transition: none;
    }

    .color-lightGreen{
        color: var(--LIGHTGREEN-COLOR);
        height: 10px;
    }
    
    .nav-bar a:hover{
        color: var(--YELLOW-COLOR);
        background-color: transparent;
    }

    .nav-icon{
        display: none;
        cursor: none;
        position: relative;
        top: 0px;
        right: 0px;
        padding: 0px;
    }
    
    .icon-line{
        display: none;
        width: 0px;
        height: 0px;
        margin: 0px;
        background-color: transparent;
    }

    .top-container aside{
        background-color: snow;
        border: 3px solid black;
        border-style: dashed;
        color: brown;
    }
    
    .top-container aside a{
        color: blue;
    }

    .container3,
    .services-container5{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .container3 section{
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
        width: 100%;
    }
    
    .bill-service{
        justify-content: center;
        margin-bottom: 10px;
        width: 100%;
    }

    .bill-service-flex{
        display: flex;
    }
    
    .container3 section div,
    .services-container5 section div{
        width: 50%;
        margin: 20px;
    }

    .bottom-container .top-link{
        position: absolute;
        top: 0;
        left: 0;
        border-bottom-left-radius: 0px;
    }

    .bottom-container .explore-contact{
        margin: 0 auto;
        display: flex;
    }

    .bottom-container .explore-contact div{
        margin: 20px;
    }
    
    .aboutUs-container2, .aboutUs-container3{
        flex-direction: row;
        justify-content: space-around;
    }
    
    .aboutUs-container2 div, .aboutUs-container3 div{
        margin: 0 25px;
    }

    .services-container3, .services-container4{
        flex-direction: row;
    }

    .services-container3 div, .services-container4 div{
        width: 50%;
        padding: 30px;
        margin: 10px;
    }
}

@media all and (min-width: 1600px){
    .top-container{
        height: 500px;
    }
}
